# Entorno virtual
.venv/
venv/
env/

# Archivos compilados de Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Configuraciones de IDEs y editores
.vscode/
.idea/
*.sublime-workspace

# Archivos de dependencias
Pipfile
Pipfile.lock
poetry.lock

# Archivos de registro y caché
*.log
logs/
cache/
*.sqlite3
db.sqlite3

# Archivos de Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Configuración de entornos y credenciales
.env
.envrc
*.secret

# Archivos de compilación
build/
dist/
*.egg-info/
.eggs/

# Archivos de cobertura de pruebas
htmlcov/
.coverage
.coverage.*
*.cover
nosetests.xml
pytest_cache/
.tox/

# Archivos de Docker y Virtualenv
docker-compose.override.yml
.vagrant/

# Archivos de despliegue y empaquetado
*.tar.gz
*.whl

# Archivos de almacenamiento temporal
.DS_Store
Thumbs.db

# ignore the contents of this path /data/history but not the folder
/data/history/*
/data/counting.py

# ignore the contents of this path /bases/strains_data but not the folder
/bases/strains_data/*
/bases/scrapping/scrapped_data/*